form(method='post', action='/login')
  p
    label(for='loginID') 아이디
    input(type='text', id='loginID', name='loginID', placeholder='아이디')
  p
    label(for='loginPW') 비밀번호
    input(type='password', id='loginPW', name='loginPW', placeholder='비밀번호')
  p
    input(type='submit', value='로그인')
