div(class='mall')
  h1 기타용품
  table(style='width: 100%')
    thead
      tr
        th 품번
        th 사진
        th 품명
        th 가격
        th 제품설명
        th   
    tbody
      each product in products
        if product.category == 'toy'
          tr
            td= product.id
            td
              img(src= product.image, style='width: 100px; height: 100px')
            td= product.name
            td= product.price
            td= product.description
            td
              form(method='post', action='/order')
                input(type='hidden', name='product_id', value= product.id)
                input(type='submit', id='order', value='주문')
